<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <div class="card align-self-center" style="width: 18rem" id="content-card">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-secondary" id="btnEngland">
          <a href="/leagues/England">England</a>
        </button>
        <button type="button" class="btn btn-outline-secondary" id="btnSpain">
          <a href="/leagues/Spain">Spain</a>
        </button>
        <button type="button" class="btn btn-outline-secondary" id="btnGermany">
          <a href="/leagues/Germany">Germany</a>
        </button>
      </div>
      <div class="card" style="width: 18rem">
        <img src="<%=lgEntries.logo%>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title" id="leagueName"><%=lgEntries.league%></h5>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
